.dropdown-menu-1 {
  background: red;
  width: 155px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu-1 li {
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.dropdown-menu-1 li:hover {
  background: #090c0f;
}

.dropdown-menu-1.clicked {
  display: none;
}

.dropdown-link-1 {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
