.science {
  padding-top: 50px;
}

.science .science_text h1 {
  text-align: center;
  margin-top: 0px;
  text-transform: uppercase;
  color: black;
}
.science .science_text h1 span {
  color: #f5973a;
}
.science .science_text h3 {
  text-align: center;
  margin-top: 0px;
  text-transform: uppercase;
  color: rgb(49, 212, 8);
}

.science .science_text h4 {
  text-align: left;
  margin-top: 30px;
  color: black;
  font-size: 20px;
}

.science .science_text hr {
  margin: 0 auto 25px;
}

.science .science_text p {
  text-align: left;
  font-size: 19px;
  font-weight: 300;
  line-height: 33px;
  margin-bottom: 10px;
  margin-left: 40px;
  text-shadow: 0px 0px 0px;
  color: black;
  font-family: "Lato", sans-serif !important;
}

p {
  margin: 0 0 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  color: #333;
  font-family: "Lato", sans-serif !important;
}

a:hover {
  color: #f5973a !important;
}

.nav-link-1 {
  color: rgb(255, 121, 32);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  height: 100%;
}

.nav-link-1:hover {
  transition: all 0.2s ease-out;
  text-decoration: none !important;
}

.list-1 {
  font-size: 20px;
}

.science_text a {
  text-decoration: underline;
}

.science_text a:hover {
  text-decoration: underline !important;
}
